# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and Databases
*.log
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/
tests/a.ipynb